@import "tailwindcss";

/* Small customizations */
/* @layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply antialiased text-gray-900 bg-gray-50 dark:bg-gray-900;
  }
} */

/* You can add component level styles below */